{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
<div class="card p-4">
  <h3>Update Record #{{ allpeople.sno }}</h3>
  <form method="POST" action="{{ url_for('update', sno=allpeople.sno) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.fname.label(class="form-label") }}
      {{ form.fname(class="form-control") }}
      {% for err in form.fname.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
    </div>
    <div class="mb-3">
      {{ form.lname.label(class="form-label") }}
      {{ form.lname(class="form-control") }}
      {% for err in form.lname.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
    </div>
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
      {% for err in form.email.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Cancel</a>
  </form>
</div>
{% endblock %}
